
body{
background-color:#bfd0ff;
}
ul{
padding-top:50px;
margin-left:120px;}
ul li{
list-style-type:none;
text-decoration:none;
display:inline

}

ul li a{
font-family:verdana;
padding:20px;
}
ul li a:hover{
color:red;
}
.rejlog{
text-align:center;
background-color:#e1e8fc;
width:30%;
margin-left:auto;
margin-right:auto;
margin-top:100px;
padding:25px;
border-radius:15px;

}

.rejlog input{
margin-top:15px;
height:40px;
width:60%;
border:none;
border-radius:15px;
}
.rejlog input[type="submit"]{
background-color:#0b2a80;
color:#e1e8fc;
}

#logo{
margin:auto;
display:block;
margin-top:50px;
}
.glownaZR{
margin-top:100px;
width:40%;
padding:25px;
border-radius:15px;
text-align:center;
background-color:#e1e8fc;
list-style-type:none;
margin-left:auto;
margin-right:auto;
}
a{
text-decoration:none;
color:black;
}
.wybor{
margin-top:15px;
color:#e1e8fc;
padding:10px;
padding-left:10%;
padding-right:10%;
background-color:#0b2a80;
border:none;
border-radius:15px;
display:block;
margin-left:5%;
margin-right:5%;


}
#logomale{
margin:5px;
display:block;
float:left;

}
hr{
clear:both;
background-color:#0b2a80;
height:2px;
}

.inputwysylania{
margin:5px;

height:30px;
width:100%;
border:none;
border-radius:10px;
}
.formwyslij table{
width:100%;
}
textarea[name="tresc"]{
width:100%;
height:400px;
resize:none;
border:none;
border-radius:10px;
}
.buttonmini{
margin-top:5px;
padding:10px 15px 10px 15px;
border:none;
background-color:#0b2a80;
border-radius:10px;
color:#e1e8fc;
}
.listawiadomosci{
margin-left:0px;
margin-right:0px;
padding-left:0px;
padding-right:0px;
}
.listawiadomosci li{
display:block;
margin-top:10px;
}
ul .tabelawiadomosci,.tabelawiadomosci{
 border-collapse: collapse;
width:100%;
border-radius:10px;
}
ul .tabelawiadomosci th,td{
border: 2px solid;
border-color:#0b2a80;
}
.td1{
width:65%;

}
.td2{
width:10%;
text-align:center;
}
.td3{
width:20%;
}
.td4{
border:none;
text-align:center;

}
.btn{
    margin-top:5px;
padding:10px 15px 10px 15px;
border:none;
background-color:#0b2a80;
border-radius:10px;
color:#e1e8fc;
}
