<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<img id="logo" width="200" src="../static/logo.png"/>
<form class="rejlog" action="logowanie_action" method="post">
<p>Logowanie</p>
<input type="text" name="login" placeholder="Login"/></br>
<input type="password" name="haslo" placeholder="Hasło"/></br>
<input type="submit" name="zaloguj_przycisk" value="Zaloguj"/>

<p>Nie masz konta? <a href="/rejestracja">Zarejestruj się</a></p>
<p>{{msg}}</p>
</form>
</body>
</html>
