<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
<img id="logo" width="200" src="../static/logo.png"/>
<form class="rejlog" action="rejestracja_action" method="post">
<p>Rejestracja</p>
<input type="text" name="nazwa_uzytkownika" placeholder="Nazwa użytkownika"/></br>
<input type="password" name="haslo" placeholder="Hasło"/></br>
<input type="password" name="haslo2" placeholder="Powtórz hasło"/></br>
<input type="submit" name="zarejestruj_przycisk" value="Zarejestruj się"/>


<p>Masz już konto? <a href="/logowanie">Zaloguj się</a></p>
<p>{{msg}}</p>
</form>
</body>
</html>
