<link rel="stylesheet" href="../static/style.css">
<a href="/"><img id="logomale" width="100"  src="../static/logo.png"/></a>
	<ul>
	  <li><a href="/profil">{{session['login']}}</a></li>
	  <li><a href="/skrzynkaodbiorcza">Skrzynka odbiorcza</a></li>
	  <li><a href="/wyslij">Wyslij maila</a></li>
	  <li><a href="/wyloguj">Wyloguj</a></li>
	</ul>
	  <hr>
<div>

		<ul class="listawiadomosci">
			<table class="tabelawiadomosci">
				<tr style="background-color:#0b2a80;color:#e1e8fc;"><td  class="td1">Temat maila</td><td class="td2">Data odbioru</td><td class="td3">Nadawca</td></tr>
			{% for i in range(dl) %}	
				<li id="wiadomosc_{{wiadomosci[i][0]}}"><tr><td  class="td1">{{wiadomosci[i][3]}}</td><td class="td2">{{wiadomosci[i][7]}} </td> <td class="td3">{{wiadomosci[i][11]}}</td>
			    <td class="td4">
					<form method="post" action="/wiadomosc" style="">
					<button class="buttonmini" type="submit" value="{{wiadomosci[i][0]}}" name="wiadomosc">Podgląd</button>
					</form>
					</td></tr></li>
					
					<form method="post" action="/usunodb" style="">
					<button class="buttonmini" type="submit" value="{{wiadomosci[i][0]}}" name="wiadomosc">Usuń</button>
					</form>
					Godzina: {{wiadomosci[i][8]}}<br/>
			{% endfor %}
			</table>
		</ul></div>

		</div>

